<ng-container *ngIf="commentInfor">
    <div class="tung-comment-item">
        <div class="tung-comment-item-infor" (click)="goToProfile(commentInfor.userId)">
            <div class="tung-comment-item-infor-avatar">
                <span>
                    {{avatarText}}
                </span>
            </div>
            {{commentInfor.createdBy || ''}}
        </div>
        <div class="tung-comment-item-content">
            <angular-editor [(ngModel)]="commentInfor.content" [config]="editorConfig"></angular-editor>
            <span class="tung-comment-item-content-createat">
                {{commentInfor.createdAt | dateTimeLabel:_dateFormatForShow}}
            </span>
        </div>
    </div>
</ng-container>