<div class="tung-login">
    <div class="tung-login-left-side">
        <div class="tung-login-left-side-welcome">
            {{'OUTSIDE.WELCOME' | translate}}
        </div>
    </div>
    <div class="tung-login-right-side">
        <div class="tung-login-template"
            [ngClass]="{'tung-login-template-step-1': !signUp, 'tung-login-template-step-2': signUp}">
            <div class="tung-login-template-login">
                <div class="tung-login-template-login-form tung-align-center">
                    <div nz-col nzSpan="20">
                        <title class="tung-title tung-align-center" nz-row>
                            {{'OUTSIDE.LOGIN.CHILD_CARE_ACCOUNT' | translate}}
                        </title>
                        <ng-container *ngIf="loginForm">
                            <form nz-row [formGroup]="loginForm" [ngClass]="{'tung-disabled': loading.login}">
                                <ng-container *ngIf="loginForm.contains('email')">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.LOGIN.EMAIL'
                                                    |
                                                    translate}}</label>
                                                <input nz-input formControlName="email"
                                                    [placeholder]="'OUTSIDE.LOGIN.EMAIL_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="loginForm.contains('password')">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.LOGIN.PASSWORD'
                                                    |
                                                    translate}}</label>
                                                <input nz-input [type]="'password'" formControlName="password"
                                                    [placeholder]="'OUTSIDE.LOGIN.PASSWORDL_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                            </form>
                        </ng-container>
                        <div nz-row class="tung-pt-10 tung-align-center">
                            <button nz-button [disabled]="!loginForm.valid" [nzLoading]="loading.login"
                                [nzType]="'primary'" [nzShape]="'round'" class="tung-mr-10 tung-h-40" (click)="login()">
                                {{'OUTSIDE.LOGIN.INDEX' | translate}}
                            </button>
                        </div>
                        <div nz-row class="tung-pt-20 tung-align-center">
                            <p class="tung-pt-5">
                                {{'OUTSIDE.LOGIN.NO_ACCOUNT' | translate}}
                                <a class="tung-p-0" nz-button [nzType]="'link'" [nzShape]="'round'"
                                    [disabled]="loading.login" (click)="onClickToSignUp(true)">
                                    {{'OUTSIDE.LOGIN.GO_TO_SIGN_UP' | translate}}
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tung-login-template-sign-up">
                <div class="tung-login-template-login-form tung-align-center">
                    <div nz-col nzSpan="20">
                        <title class="tung-title tung-align-center" nz-row>
                            {{'OUTSIDE.SIGN_UP.INDEX' | translate}}
                        </title>
                        <ng-container *ngIf="signupFrom">
                            <form nz-row [formGroup]="signupFrom" [ngClass]="{'tung-disabled': loading.register}">
                                <ng-container *ngIf="signupFrom.contains('email')">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.LOGIN.EMAIL'
                                                    |
                                                    translate}}</label>
                                                <input nz-input formControlName="email"
                                                    [placeholder]="'OUTSIDE.LOGIN.EMAIL_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="signupFrom.contains('password')">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.LOGIN.PASSWORD'
                                                    |
                                                    translate}}</label>
                                                <input nz-input [type]="'password'" formControlName="password"
                                                    [placeholder]="'OUTSIDE.LOGIN.PASSWORDL_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="signupFrom.contains('fullName')">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.SIGN_UP.FULL_NAME'
                                                    |
                                                    translate}}</label>
                                                <input nz-input [type]="'text'" formControlName="fullName"
                                                    [placeholder]="'OUTSIDE.SIGN_UP.FULL_NAME_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="signupFrom.contains('age')">
                                    <div nz-col nzSpan="5">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.SIGN_UP.AGE'
                                                    |
                                                    translate}}</label>
                                                <input nz-input [type]="'text'" formControlName="age" NumberOnly
                                                    [allowDecimals]="false"
                                                    [placeholder]="'OUTSIDE.SIGN_UP.AGE_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" [min]="0" [max]="99" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                                <div nz-col nzSpan="4"></div>
                                <ng-container *ngIf="signupFrom.contains('gender')">
                                    <div class="tung-flex tung-align-center" nz-col nzSpan="15">
                                        <nz-radio-group formControlName="gender">
                                            <label nz-radio [nzValue]="1">{{'OUTSIDE.SIGN_UP.MALE'
                                                |
                                                translate}}</label>
                                            <label nz-radio [nzValue]="2">{{'OUTSIDE.SIGN_UP.FEMALE'
                                                |
                                                translate}}</label>
                                        </nz-radio-group>
                                    </div>
                                </ng-container>
                                <ng-container *ngIf="signupFrom.contains('age')">
                                    <div nz-col nzSpan="24">
                                        <nz-form-item>
                                            <nz-form-control [nzErrorTip]="confirmError">
                                                <label
                                                    class="tung-label tung-pl-10 tung-required">{{'OUTSIDE.SIGN_UP.PHONE_NUMBER'
                                                    |
                                                    translate}}</label>
                                                <input nz-input [type]="'text'" formControlName="phone"
                                                    [placeholder]="'OUTSIDE.SIGN_UP.PHONE_NUMBER_HOLDER' | translate"
                                                    class="tung-br-25 tung-h-50 tung-m-5" />
                                            </nz-form-control>
                                        </nz-form-item>
                                    </div>
                                </ng-container>
                            </form>
                        </ng-container>
                        <div nz-row class="tung-pt-10 tung-align-center">
                            <button class="tung-mr-10" nz-button [nzType]="'primary'" [nzShape]="'round'"
                                (click)="onClickToSignUp(false)" [disabled]="loading.register">
                                {{'BTN_BACK' | translate}}
                            </button>
                            <button nz-button [disabled]="!signupFrom.valid" [nzLoading]="loading.register"
                                [nzType]="'primary'" [nzShape]="'round'" (click)="register()">
                                {{'OUTSIDE.SIGN_UP.INDEX' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #confirmError let-control>
    <app-error [control]="control"></app-error>
</ng-template>