&-home {
    display: flex;
    background-image: url('../../../assets/imgs/background-home.png');

    &-left {
        height: 100vh;
    }

    &-center {
        height: 100vh;
    }

    &-right {
        height: 100vh;
    }
}