&-header {
    background-color: $mainColor;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    height: 10vh;
}

&-logo {
    height: 100%;
    color: $whiteColor;
    font-weight: bold;
    font-size: $fontSizeLogo;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

&-avatar {
    margin: auto 0 auto 0;

    &-content {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: $whiteColor;
        color: $darkBlueColor;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        border: solid 1px $darkBlueColor;
        transition: all 0.5s ease-out;


        &:hover {
            background-color: $darkBlueColor;
            color: white;
        }
    }
}

&-menu {
    border-radius: 20px;
    padding: 10px;
    transition: all 0.5s ease-out;

    &-item {
        padding-left: 5px;
        border-radius: 5px;
        color: $darkBlueColor;

        &:hover {
            background-color: $darkBlueColor;
            color: white;
        }
    }
}

&-step-content {
    max-height: 50vh;
    min-height: 20vh;
    overflow: auto;
    padding: 20px 50px;
}

&-booking-step {
    box-shadow: 0px 0px 5px $shadow;
    padding: 10px;
    min-height: 20vh;

    &-1 {}

    &-2 {}

    &-3 {}

    &-box {
        padding: 10px;
    }
}

&-label-step {
    color: $mainColor;
    margin-bottom: 5px;
    display: block;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    font-weight: bold;
    border-bottom: 1px solid $shadow;
}

&-label-content {
    color: $mainColor;
}

&-step-footer {
    display: flex;
    justify-content: space-between;
}

&-shift {
    display: flex;

    &-wrap {
        width: 25%;
        padding: 5px;
    }

    &-content {
        border-radius: 10px;
        min-height: 100px;
        max-height: 300px;
        cursor: pointer;
        padding: 10px;
        text-align: center;
        color: $whiteColor;

        &-title {
            font-weight: bold;
            display: block;
        }


        &-normal {
            border: 2px solid $lightGreenColor;
            color: $mainColor;
            background-image: url('../../../assets/imgs/shift-background.png');
        }

        &-booked {
            background-color: $lightGreenColor;
            color: $whiteColor;
            background-image: url('../../../assets/imgs/shift-background.png');
        }

        &-expired {
            background-color: $shadow;
            background-image: url('../../../assets/imgs/shift-background.png');
        }
    }
}