&-post {
    cursor: pointer;
    margin: 20px auto 20px auto;
    width: 600px;
    overflow: hidden;
    border-radius: 10px;

    img {
        height: 400px;
    }

    &-demo {
        height: 75px;
        border: 1px solid $shadow;
        border-top: unset;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        padding: 5px;

        &-title {
            color: $mainColor;
            font-size: 15px;
            font-weight: bold;
            padding: 5px;
            margin-top: 5px;
            display: flex;
            justify-content: space-between;

            &-like {
                display: flex;
                color: $shadow;
                font-weight: normal;
                font-size: 10px;

                span {
                    margin: auto 5px auto 0px;
                }

                .anticon {
                    margin: auto;
                }
            }

            &-text {
                cursor: pointer;
                color: $mainColor;
            }
        }

        &-infor {
            padding: 5px;
            display: flex;
            justify-content: space-between;
            color: $shadow;
        }
    }
}

&-full-post {
    .angular-editor {
        .angular-editor-wrapper {
            .angular-editor-textarea {
                border: unset !important;
                padding: 0px 10px 0px 10px !important;
                margin-top: 0px !important;
            }
        }
    }
}

&-comment {
    min-height: 200px;

    &-item {
        text-align: left;
        display: flex;
        margin-top: 10px;
        border-top: 1px solid $shadow;
        border-bottom: 1px solid $shadow;

        &-infor {
            min-height: 100px;
            width: 10%;
            padding: 5px;
            border-right: 1px solid $shadow;
            text-align: center;

            &-avatar {
                border: 1px solid $mainColor;
                height: 50px;
                width: 50px;
                border-radius: 25px;
                text-align: center;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
            }
        }

        &-content {
            width: 90%;
            padding: 5px;
        }
    }
}