<ng-container *ngIf="postInfor">
    <ng-container *ngIf="!textOnly;else titleTextOnly">
        <div class="tung-post" (click)="onToggleVisibleFullPost(true)">
            <img [src]="postInfor.thumbnailImage" [alt]="postInfor.title" />
            <div class="tung-post-demo">
                <div class="tung-post-demo-title">
                    {{postInfor.title}}
                    <div class="tung-post-demo-title-like">
                        <span class="tung-mr-5">
                            {{(postInfor.totalLike || 0) | numberLabel:0}}
                        </span>
                        <span nz-icon nzType="like" nzTheme="outline"></span>
                    </div>
                </div>
                <div class="tung-post-demo-infor">
                    <span>{{postInfor.author}}</span>
                    <span>{{postInfor.createAt | dateTimeLabel}}</span>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #titleTextOnly>
        <div (click)="onToggleVisibleFullPost(true)" class="tung-post-title-text">{{postInfor.title}}</div>
    </ng-template>



    <nz-modal [nzWidth]="'50vw'" [nzVisible]="visibleFullPostModal" [nzCloseIcon]="closeIcon"
        (nzOnCancel)="onToggleVisibleFullPost(false)">
        <div *nzModalTitle class="tung-title tung-p-0">
            {{postInfor.title}}
        </div>
        <div *nzModalContent class="tung-full-post">
            <angular-editor [ngModel]="postInfor.content" [config]="editorConfig"></angular-editor>
        </div>
        <div *nzModalFooter>
            <app-write-content [isPopup]="false" [isComment]="true" [visibleCreatePostModal]="visibleCommentModal"
                [postId]="postInfor.id" (oToggleVisiblePostModal)="onTogglevisibleCommentModal($event)"
                (onSubmitPostSuccess)="reloadComment()">
            </app-write-content>
            <div class="tung-comment">
                <ng-container *ngFor="let comment of postInfor.commentList">
                    <app-comment [commentInfor]="comment"></app-comment>
                </ng-container>
            </div>
        </div>
    </nz-modal>
</ng-container>

<ng-template #closeIcon>
    <span nz-icon nzType="close" nzTheme="outline"></span>
</ng-template>