<ng-container *ngIf="postInfor">
    <ng-container *ngIf="!textOnly;else titleTextOnly">
        <div class="tung-post" (click)="onToggleVisibleFullPost(true)">
            <img [src]="postInfor.thumbnailImage" [alt]="postInfor.title" />
            <div class="tung-post-demo">
                <div class="tung-post-demo-title">
                    {{postInfor.title}}
                    <div class="tung-post-demo-title-like">
                        <span class="tung-mr-5">
                            {{(postInfor.totalLike || 0) | numberLabel:0}}
                        </span>
                        <span nz-icon nzType="like" nzTheme="outline"></span>
                        <span class="tung-mr-5">
                            {{(postInfor.totalDislike || 0) | numberLabel:0}}
                        </span>
                        <span nz-icon nzType="dislike" nzTheme="outline"></span>
                    </div>
                </div>
                <div class="tung-post-demo-infor">
                    <span (click)="goToProfile(postInfor.userId)">{{postInfor.author}}</span>
                    <span>{{postInfor.createAt | dateTimeLabel}}</span>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #titleTextOnly>
        <div (click)="onToggleVisibleFullPost(true)" class="tung-post-title-text">{{postInfor.title}}</div>
    </ng-template>



    <nz-modal [nzWidth]="'50vw'" [nzVisible]="visibleFullPostModal" [nzCloseIcon]="closeIcon"
        (nzOnCancel)="onToggleVisibleFullPost(false)">
        <div *nzModalTitle class="tung-title tung-p-0">
            {{postInfor.title}}
        </div>
        <div *nzModalContent class="tung-full-post">
            <angular-editor [ngModel]="postInfor.content" [config]="editorConfig"></angular-editor>
            <div class="tung-full-post-react" nz-row>
                <div class="tung-full-post-react-item" [ngClass]="{'tung-full-post-react-active': interact === true}"
                    (click)="onClickInteract(true, 'totalLike')" nz-col nzSpan="12">
                    <span class="tung-full-post-react-item-total">
                        {{(postInfor.totalLike || 0) | numberLabel:0}}
                    </span>
                    <span nz-icon nzType="like" nzTheme="outline">
                    </span>
                </div>
                <div class="tung-full-post-react-item" [ngClass]="{'tung-full-post-react-active': interact === false}"
                    (click)="onClickInteract(false, 'totalDislike')" nz-col nzSpan="12">
                    <span class="tung-full-post-react-item-total">
                        {{(postInfor.totalDislike || 0) | numberLabel:0}}
                    </span>
                    <span nz-icon nzType="dislike" nzTheme="outline">
                    </span>
                </div>
            </div>
        </div>
        <div *nzModalFooter>
            <ng-container *ngIf="isLogged">
                <app-write-content [isPopup]="false" [isComment]="true" [visibleCreatePostModal]="visibleCommentModal"
                    [postId]="postInfor.id" (oToggleVisiblePostModal)="onTogglevisibleCommentModal($event)"
                    (onCommentPostSuccess)="reloadComment()">
                </app-write-content>
            </ng-container>
            <div class="tung-comment">
                <ng-container *ngFor="let comment of postInfor.commentList">
                    <app-comment [commentInfor]="comment"></app-comment>
                </ng-container>
            </div>
        </div>
    </nz-modal>
</ng-container>

<ng-template #closeIcon>
    <span nz-icon nzType="close" nzTheme="outline"></span>
</ng-template>