.angular-editor {
    text-align: left;

    .angular-editor-toolbar {}

    .angular-editor-wrapper {
        img {
            width: 60%;
            margin: auto;
            display: block;
        }
    }
}

.tung-comment-item-content {
    .angular-editor {
        text-align: left;

        .angular-editor-toolbar {}

        .angular-editor-wrapper {
            img {
                width: 60%;
                margin: auto;
                display: block;
            }

            .angular-editor-textarea {
                border: unset !important;
                padding: 0px !important;
            }
        }
    }
}