@import "./share.scss";

$scrollBarColor: #c4c4c4;
$scrollBarHoverColor: #a5a5a5;

$mainColor: #5FBDF5;
$darkMainColor: #2A536B;
$lightMainColor: #5BB6EB;
$secondColor: #C4EAFF;
$whiteColor: #FFFFFF;
$darkBlueColor: #000566;
$greenColor: #39B348;
$darkGreenColor: #226B2B;
$lightGreenColor: #4BEB5E;
$brownColor: #A36B21;

$stepColor: #1890ff;
$darkStepColor: #0A3C6B;

$borderRadius30: 30px;

$halfFullSize: 50%;
$fullSize: 100%;
$doupleFullSize: 200%;

$fontSizeLogo: 50px;
$fontSizeTitle: 20px;
$fontSizeNote: 10px;

$shadow: #a5a5a5;

.#{$mainCls} {

    &-align-left {
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-align-right {
        text-align: right;
        justify-content: flex-end;
        align-items: flex-end;
    }

    &-align-center {
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    &-disabled {
        opacity: 0.32;
        pointer-events: none;
        -webkit-user-select: none;
        user-select: none;
        filter: grayscale(0.9);
        box-shadow: none;

        &-can-hover {
            pointer-events: all;
        }
    }

    &-hide {
        display: none;
    }

    &-required {
        &:after {
            display: inline-block;
            margin-right: 4px;
            color: #ff4d4f;
            font-size: 0.9em;
            vertical-align: top;
            padding-left: 2px;
            content: '*';
        }
    }

    &-label {
        color: $mainColor;
        margin-left: 10px;
        margin-bottom: 5px;
        display: block;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &-title {
        padding-bottom: 10px;
        font-weight: bold;
        font-size: 20px;
        color: $darkBlueColor;
    }

    &-flex {
        display: flex;
    }

    &-relative {
        position: relative;
    }

    &-pointer {
        cursor: pointer;
    }

    &-bold {
        font-weight: bold;
    }

    &-block {
        display: block;
    }

    &-bd {
        border: 1px solid $shadow;
    }

    &-bd-t {
        border-top: 1px solid $shadow;
    }

    &-bd-bt {
        border-bottom: 1px solid $shadow;
    }

    &-bd-l {
        border-left: 1px solid $shadow;
    }

    &-bd-r {
        border-right: 1px solid $shadow;
    }

    &-step {
        &-dot {
            height: 25px;
            width: 25px;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.123em;
            border: 1px solid $stepColor;
            background-color: $whiteColor;
            color: $stepColor;
            margin: auto;

            &-finish {
                background-color: $stepColor;
                border-color: $stepColor;
                color: $whiteColor;
            }

            &-active {
                border: 1px solid $darkStepColor;
                color: $darkStepColor;
            }
        }
    }

    $size: 0,
        5,
        10,
        15,
        20,
        25,
        30,
        35,
        40,
        45,
        50,
        55,
        60,
        65,
        70,
        75,
        80,
        85,
        90,
        95,
        100,
        120,
        130,
        140,
        150,
        170,
        180,
        200,
        208,
        210,
        220,
        230,
        238,
        250,
        300,
        400,
        500,
        660,
        800;

    @each $val in $size {

        &-pr-#{$val} {
            padding-right: #{$val}px;
        }

        &-pl-#{$val} {
            padding-left: #{$val}px;
        }

        &-pt-#{$val} {
            padding-top: #{$val}px;
        }

        &-pb-#{$val} {
            padding-bottom: #{$val}px;
        }

        &-p-#{$val} {
            padding: #{$val}px;
        }

        &-mr-#{$val} {
            margin-right: #{$val}px;
        }

        &-ml-#{$val} {
            margin-left: #{$val}px;
        }

        &-mt-#{$val} {
            margin-top: #{$val}px;
        }

        &-mb-#{$val} {
            margin-bottom: #{$val}px;
        }

        &-m-#{$val} {
            margin: #{$val}px;
        }

        &-h-#{$val} {
            height: #{$val}px;
        }

        &-w-#{$val} {
            width: #{$val}px;
        }

        &-br-#{$val} {
            border-radius: #{$val}px;
        }
    }

    $font_size: 10,
        13,
        15,
        17,
        20,
        23,
        25,
        27,
        30,
        35,
        40;

    @each $f_size in $font_size {
        &-fs-#{$f_size} {
            font-size: #{$f_size}px;
        }
    }
}